@import "~materialize-css/dist/css/materialize.min.css";

.price {
  font-size: 2rem;
}
.course {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.course h1 {
  margin-bottom: 2rem;
}
.course .price.big {
  font-size: 2.5rem;
}
.card .card-image img{
  height: 300px;
}
.card-action .action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auth {
  padding-top: 1rem;
}
.form__buy {
  float: right;
  margin-top: -7px;
}
.form__remove {
  margin-top: -36px;
  float: right;
}

.avatar {
  max-width: 400px;
  margin-left: 5%;
  height: auto;
}
.add-btn {
  margin-right: 2rem;
  float: left;
}
.avatar__btn {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.stLoader {
  display: flex;
  justify-content: center;
  padding-top: 2rem
}










































